#layout-footer {
  color: white;
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start;
  background: grey; }
  #layout-footer a {
    color: white;
    text-decoration: none; }
  #layout-footer .footer-nav ul {
    list-style: none;
    display: flex; }
    #layout-footer .footer-nav ul li {
      padding-right: 5px; }
